@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.img--horizontal1Espacio, .img--horizontal2Espacios, .img--horizontal2EspaciosESP, .img--vertical1Espacio, .img--vertical2Espacios, .img--vertical2EspaciosESP {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 2100px) {
  .masonry-with-columns {
    display: -ms-grid;
    display: grid;
    background-color: #000000e8;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 45vh;
    grid-row-gap: 0.25%;
    grid-column-gap: 1%;
    margin-left: 3% !important;
    margin-right: 5% !important;
    padding-bottom: 1% !important;
    margin-top: 3% !important;
    border-radius: 12px;
  }
  .img--horizontal1Espacio {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 1 span;
  }
  .img--horizontal2Espacios {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 2 span;
  }
  .img--horizontal2EspaciosESP {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 1 span;
  }
  .img--vertical1Espacio {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 1 span;
  }
  .img--vertical2Espacios {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 2 span;
  }
  .img--vertical2EspaciosESP {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 1 span;
  }
}

@media (max-width: 991px) {
  .masonryIndex {
    display: -ms-grid;
    display: grid;
    background-color: #000000e8;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 35vh;
    grid-row-gap: 0.25%;
    grid-column-gap: 1%;
    margin-left: 3% !important;
    margin-right: 5% !important;
    padding-bottom: 1% !important;
    margin-top: 3% !important;
    border-radius: 12px;
  }
  .stylingNavBarItems {
    margin-right: 15px !important;
    font-size: 24px;
    background-color: #000000ec;
  }
  .masonry-with-columns {
    display: -ms-grid;
    display: grid;
    background-color: #000000e8;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 35vh;
    grid-row-gap: 0.25%;
    grid-column-gap: 1%;
    margin-left: 3% !important;
    margin-right: 5% !important;
    padding-bottom: 1% !important;
    margin-top: 3% !important;
    border-radius: 12px;
  }
  .img--horizontal1Espacio {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 1 span;
  }
  .img--horizontal2Espacios {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 1 span;
  }
  .img--vertical1Espacio {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 1 span;
  }
  .img--vertical2Espacios {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 2 span;
  }
}

.animationNavBar {
  -webkit-animation-name: animacionHeader;
          animation-name: animacionHeader;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.animationFooter {
  -webkit-animation-name: animacionFooter;
          animation-name: animacionFooter;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.animationVideoCharly {
  -webkit-animation-name: animacionMainVideo;
          animation-name: animacionMainVideo;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.animationTwitterFeed {
  -webkit-animation-name: animacionTwitterFeed;
          animation-name: animacionTwitterFeed;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes animacionHeader {
  0% {
    height: 0%;
  }
  100% {
    height: 15%;
  }
}

@keyframes animacionHeader {
  0% {
    height: 0%;
  }
  100% {
    height: 15%;
  }
}

@-webkit-keyframes animacionFooter {
  0% {
    height: 0%;
  }
  100% {
    height: 10%;
  }
}

@keyframes animacionFooter {
  0% {
    height: 0%;
  }
  100% {
    height: 10%;
  }
}

@-webkit-keyframes animacionMainVideo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes animacionMainVideo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes animacionTwitterFeed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes animacionTwitterFeed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes aparicionTexto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes aparicionTexto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.logoSayNoMoreResize {
  max-height: 50px;
  max-width: auto;
  border-radius: 100px;
}

.ubicacionLogoSNM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 991px) {
  .ubicacionLogoSNM {
    display: none;
  }
}

.stylingNavBarItems {
  margin-right: 15px !important;
  font-size: 24px;
}

.stylingNavBarItems--Home {
  margin-right: 15px !important;
  font-size: 24px;
  -webkit-animation-name: aparicionTexto;
          animation-name: aparicionTexto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.stylingNavBarItems--Biografia {
  margin-right: 15px !important;
  font-size: 24px;
  -webkit-animation-name: aparicionTexto;
          animation-name: aparicionTexto;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.stylingNavBarItems--Fotos {
  margin-right: 15px !important;
  font-size: 24px;
  -webkit-animation-name: aparicionTexto;
          animation-name: aparicionTexto;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.stylingNavBarItems--Videos {
  margin-right: 15px !important;
  font-size: 24px;
  -webkit-animation-name: aparicionTexto;
          animation-name: aparicionTexto;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.stylingNavBarItems--Podcast {
  margin-right: 15px !important;
  font-size: 24px;
  -webkit-animation-name: aparicionTexto;
          animation-name: aparicionTexto;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.stylingNavBarItems--Playlist {
  margin-right: 15px !important;
  font-size: 24px;
  -webkit-animation-name: aparicionTexto;
          animation-name: aparicionTexto;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.stylingNavBarItems--Contacto {
  margin-right: 45px !important;
  font-size: 24px;
  -webkit-animation-name: aparicionTexto;
          animation-name: aparicionTexto;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.centerContainerFluid {
  width: 100%;
  display: -ms-grid !important;
  display: grid !important;
}

.size100 {
  height: 100% !important;
  grid-row: 2 span !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

@media (max-width: 991px) {
  .size100 {
    background-color: black !important;
    height: 100% !important;
    grid-row: 2 span !important;
    overflow: visible !important;
    padding: 5% !important;
  }
}

.heightVideos100 {
  height: 100%;
}

.borderRadius10 {
  border-radius: 10px !important;
}

.customRowHeight75 {
  margin-top: 5% !important;
  height: 65vh;
}

.customRowHeight10 {
  height: 10vh;
}

.customRowHeight5 {
  height: 5vh;
}

.noBottomMargin {
  margin-bottom: 0;
  padding-bottom: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.height15navBar {
  height: 15%;
}

.buttonSelectedWhite {
  background-color: gray !important;
}

h1 {
  color: white;
  font-size: larger !important;
}

@media (max-width: 991px) {
  h1 {
    color: white;
    font-size: xx-large !important;
  }
}

.carouselVideo {
  height: 90%;
  width: 100%;
  border-radius: 10px;
}

.video--Home {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-row: 2 span;
  grid-column: 2 span;
  border-radius: 10px;
}

@media (max-width: 991px) {
  .video--Home {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 1 span;
    grid-column: 1 span;
    border-radius: 10px;
  }
}

.video--SeccionVideos {
  height: 60vh !important;
  width: 80% !important;
}

.customDfLex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  overflow: scroll !important;
}

.customFlexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2% !important;
          column-gap: 2% !important;
  background-color: black !important;
  margin: 0 !important;
}

@media (max-width: 991px) {
  .customFlexColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 2% !important;
            column-gap: 2% !important;
    background-color: black !important;
    margin: 0 !important;
  }
}

.tabContentExtended {
  display: -ms-grid !important;
  display: grid !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.masonryVideos {
  display: -ms-grid;
  display: grid;
  background-color: #000000e8;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 35vh;
  grid-row-gap: 0.25%;
  grid-column-gap: 1%;
  margin-left: 3% !important;
  margin-right: 5% !important;
  padding-bottom: 1% !important;
  margin-top: 3% !important;
  border-radius: 12px;
}

.videoIndexAncho {
  width: 75vw;
  height: 75vh;
}

.padreFlex {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.87);
  left: 5%;
  right: 5%;
  padding: 2%;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  margin-bottom: 10%;
}

.padreFlexTexto {
  position: absolute;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  margin-right: 5% !important;
  margin-left: 3% !important;
  margin-top: 3% !important;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  border-radius: 10px;
}

.bgCharly {
  background-color: #000000 !important;
  background-image: url(https://raw.githubusercontent.com/FedericoAnelli/proyecto-final-coderhouse/main/images/Charly_Garci%CC%81a_presenta_Clics_modernos.webp) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100vw;
}

.bgGradientFooter {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(52.6%, #000000), to(rgba(0, 0, 0, 0))) !important;
  background: linear-gradient(0deg, #000000 52.6%, rgba(0, 0, 0, 0) 100%) !important;
  height: 10% !important;
}

.bgGradientHeader {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52.6%, #000000), to(rgba(0, 0, 0, 0))) !important;
  background: linear-gradient(180deg, #000000 52.6%, rgba(0, 0, 0, 0) 100%) !important;
}

.bgBlack {
  background-color: black !important;
}

.masonry-with-columns {
  display: -ms-grid;
  display: grid;
  background-color: #000000e8;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 45vh;
  grid-row-gap: 0.25%;
  grid-column-gap: 1%;
  margin-left: 3% !important;
  margin-right: 5% !important;
  padding-bottom: 1% !important;
  margin-top: 3% !important;
  border-radius: 12px;
}

.img--horizontal1Espacio {
  grid-column: 1 span;
}

.img--horizontal2Espacios {
  grid-column: 2 span;
}

.img--horizontal2EspaciosESP {
  grid-column: 2 span;
}

.img--vertical1Espacio {
  grid-row: 1 span;
}

.img--vertical2Espacios {
  grid-row: 2 span;
}

.img--vertical2EspaciosESP {
  grid-row: 2 span;
}

* {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

@media (max-width: 991px) {
  * {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background-color: black;
  }
}

.masonryIndex {
  display: -ms-grid;
  display: grid;
  background-color: #000000e8;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 28vh;
  grid-row-gap: 0.25%;
  grid-column-gap: 1%;
  margin-left: 3% !important;
  margin-right: 5% !important;
  padding-bottom: 1% !important;
  margin-top: 3% !important;
  border-radius: 12px;
}

a {
  color: white;
}

.cajaTextosHome {
  background-color: black;
  margin-right: 5% !important;
  margin-left: 3% !important;
  border-radius: 12px;
}

.cajaContactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: black;
  margin-right: 5% !important;
  margin-left: 3% !important;
  border-radius: 12px;
  margin-left: 3% !important;
  font-size: x-large;
}

@media (max-width: 991px) {
  .cajaContactUs {
    display: none;
  }
}

.parrafoIndex {
  margin-left: 3% !important;
  margin-top: 2% !important;
}

.twitterIndexFino {
  width: 25vw;
  height: 75vh;
}

@media (max-width: 991px) {
  .twitterIndexFino {
    width: 100 vw;
  }
}

.invisibleOnFullScreen {
  display: none !important;
}

@media (max-width: 991px) {
  .invisibleOnFullScreen {
    display: block !important;
  }
}

.playerStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-radius: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: white;
}

@media (max-width: 2100px) {
  .masonry-with-columns {
    display: -ms-grid;
    display: grid;
    background-color: #000000e8;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 45vh;
    grid-row-gap: 0.25%;
    grid-column-gap: 1%;
    margin-left: 3% !important;
    margin-right: 5% !important;
    padding-bottom: 1% !important;
    margin-top: 3% !important;
    border-radius: 12px;
  }
  .img--horizontal1Espacio {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 1 span;
  }
  .img--horizontal2Espacios {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 2 span;
  }
  .img--horizontal2EspaciosESP {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 1 span;
  }
  .img--vertical1Espacio {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 1 span;
  }
  .img--vertical2Espacios {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 2 span;
  }
  .img--vertical2EspaciosESP {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 1 span;
  }
}

@media (max-width: 991px) {
  .masonryIndex {
    display: -ms-grid;
    display: grid;
    background-color: #000000e8;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 35vh;
    grid-row-gap: 0.25%;
    grid-column-gap: 1%;
    margin-left: 3% !important;
    margin-right: 5% !important;
    padding-bottom: 1% !important;
    margin-top: 3% !important;
    border-radius: 12px;
  }
  .stylingNavBarItems {
    margin-right: 15px !important;
    font-size: 24px;
    background-color: #000000ec;
  }
  .masonry-with-columns {
    display: -ms-grid;
    display: grid;
    background-color: #000000e8;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 35vh;
    grid-row-gap: 0.25%;
    grid-column-gap: 1%;
    margin-left: 3% !important;
    margin-right: 5% !important;
    padding-bottom: 1% !important;
    margin-top: 3% !important;
    border-radius: 12px;
  }
  .img--horizontal1Espacio {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 1 span;
  }
  .img--horizontal2Espacios {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 1 span;
  }
  .img--vertical1Espacio {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 1 span;
  }
  .img--vertical2Espacios {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: 2 span;
  }
}
/*# sourceMappingURL=style.css.map */
