
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "./partials/extend";
@import "./partials/variables";
@import "./partials/mapas";
@import "./partials/mediaQueries";
@import "./partials/animations";
@import "./partials/header";
@import "./partials/customizations";
@import "./partials/videos";
@import "./partials/flexBiografia";
@import "./partials/backgrounds";
@import "./partials/fotosMasonry";

*{
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;

    
    @media (max-width: 991px) {
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        background-color: black;
    }
}



.masonryIndex{
    @include templateMasonry(3, 28vh);
}

a{
    color: white;
}

.cajaTextosHome{
    background-color: black;
    margin-right: 5% !important;
    margin-left: 3% !important;
    border-radius: 12px;
}

.cajaContactUs{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    margin-right: 5% !important;
    margin-left: 3% !important;
    border-radius: 12px;
    margin-left: 3% !important;
    font-size: x-large;

    @media (max-width:991px) {

        display: none;
        
    }

}


.parrafoIndex{
    margin-left: 3% !important;
    margin-top: 2% !important;
}

.twitterIndexFino{

width: 25vw;
height: 75vh;

@media (max-width: 991px) {
    width: 100 vw;
}
}

.invisibleOnFullScreen
{
    display: none !important;
    @media (max-width: 991px) {
        display: block !important;
    }

}


.playerStyle
{
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 10px;

    
}



body{

    

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;


}






@import "./partials/mediaQueries";