@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$gradient_header: linear-gradient(180deg, #000000 52.6%, rgba(0, 0, 0, 0) 100%);
$gradient_footer: linear-gradient(0deg, #000000 52.6%, rgba(0, 0, 0, 0) 100%);

*{

    padding: 0 !important;
    border: 0 !important;
    
}


.centerContainerFluid{

    height: 75vh !important;
    width: 75vh !important;

    display: flex;
    align-items: center;
    justify-content: center;
}


.size100
{
    height: 100% !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;

}

.heightVideos100
{
    height: 100%;
}


.borderRadius10
{
    border-radius: 10px !important;
}


.customRowHeight{

    &75{
        height: 75vh;
    }
    &10{
        height: 10vh;
    }
    &5{
        height: 5vh;
    }

}


.animation{

        &NavBar{
            animation-name: animacionHeader;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-iteration-count: 1;
        } 
        &Footer{
            animation-name: animacionFooter;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-iteration-count: 1;
        }
        &VideoCharly{
             animation-name: animacionMainVideo;
             animation-duration: 4s;
             animation-timing-function: ease;
             animation-iteration-count: 1;
        }
        &TwitterFeed
        {
            animation-name: animacionTwitterFeed;
            animation-duration: 4s;
            animation-timing-function: ease;
            animation-iteration-count: 1;
        } 


}

.stylingNavBarItems
{

    margin-right: 15px !important;
    font-size: 24px;


    &--Home{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 4s;
        animation-timing-function: ease;
        animation-iteration-count: 1;


    }
    &--Biografia{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 5s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }
    &--Fotos{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 6s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }
    &--Videos{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 7s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }
    &--Podcast{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 8s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }
    &--Playlist{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 9s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }
    &--Contacto{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }

}


.noBottomMargin{
    margin-bottom: 0;
    padding-bottom: 0;
    justify-content: flex-end;
}

.height15navBar{
    height: 15%;
}

.bgGradient{

    &Footer{
        background: $gradient_footer !important;
        height: 10% !important;
    }
    &Header{
    background: $gradient_header !important;
    }

}


.bgCharly
{
    background-color: #000000 !important;
    background-image: url('images/CharlyFondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    width: 100vw;

}


@keyframes animacionHeader {

    0%{
        height: 0%;
    }

    100%{
        height: 15%;
    }

}

@keyframes animacionFooter {

    0%{
        height: 0%;
    }

    100%{
        height: 10%;
    }

}

@keyframes animacionMainVideo {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }

}

@keyframes animacionTwitterFeed {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }

}


@keyframes aparicionTexto {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }

}


.carouselVideo
{
    
    height: 90%;
    width: 100%;
    border-radius: 10px;


}

.video
{

    &--Home{

        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    &--SeccionVideos
    {
        height: 50vh;
        width: 75vw;
        border-radius: 10px;
    }

}



a
{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
a:hover {
    color: gray;

  }


.padreFlex
{
    position: absolute;
    display: flex;
    background: rgba(0, 0, 0, 0.87);
    left: 5%;
    right: 5%;
    padding: 2%;
    justify-content: baseline;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-bottom: 10%;

    
}

.padreFlexTexto
{
    position: absolute;
    height: 75vh;
    display: flex;
    background: rgba(0, 0, 0, 0.87);
    left: 5%;
    right: 5%;
    padding: 2%;
    justify-content: baseline;
    flex-direction: column;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    border-radius: 10px;

    
}

.playerStyle
{
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 10px;

    
}



body{

    

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;


}

.masonry-with-columns {
    display: grid;
    background-color: #000000;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50vh;
    grid-row-gap: 0.25%;
    grid-column-gap: 0.5%;
    padding-left: 1% !important;
    padding-right: 1% !important;
    padding-bottom: 1% !important;

    } 

    .img {

        &--horizontal1Espacio{
            height: 100%;
            width: 100%;
            object-fit: cover;
            grid-column: 1 span;
            
        } 

        &--horizontal2Espacios{
            height: 100%;
            width: 100%;
            object-fit: cover;
            grid-column: 2 span;

        } 
        &--horizontal2EspaciosESP{
            height: 100%;
            width: 100%;
            object-fit: cover;
            grid-column: 2 span;

        } 
        &--vertical1Espacio{
            height: 100%;
            width: 100%;
            object-fit: cover;
            grid-row: 1 span;
        } 
        &--vertical2Espacios{
            height: 100%;
            width: 100%;
            object-fit: cover;
            grid-row: 2 span;
            
        } 
        &--vertical2EspaciosESP{
            height: 100%;
            width: 100%;
            object-fit: cover;
            grid-row: 2 span;
            
        } 
      }


@media (max-width: 2100px) {

    .masonry-with-columns {
        display: grid;
        background-color: #000000;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 50vh;
        grid-row-gap: 0.25%;
        grid-column-gap: 0.5%;
        padding-left: 1% !important;
        padding-right: 1% !important;
        padding-bottom: 1% !important;
    
        } 
    
        .img {
    
            &--horizontal1Espacio{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 1 span;
                
            } 

            &--horizontal2Espacios{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 2 span;
    
            } 
            &--horizontal2EspaciosESP{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 1 span;
    
            } 
            &--vertical1Espacio{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 1 span;
            } 
            &--vertical2Espacios{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 2 span;
                
            } 
            &--vertical2EspaciosESP{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 1 span;
                
            } 
          }
    

}


      @media (max-width: 991px) {

        .stylingNavBarItems
        {
            margin-right: 15px !important;
            font-size: 24px;
            background-color: #000000ec;
        
        }

        .masonry-with-columns {
            display: grid;
            background-color: #000000;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 50vh;
            grid-row-gap: 0.25%;
            grid-column-gap: 0.5%;
            padding-left: 1% !important;
            padding-right: 1% !important;
            padding-bottom: 1% !important;
            overflow: hidden;
        
            } 


            .img {

                &--horizontal1Espacio{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    grid-column: 1 span;
                    
                } 
                &--horizontal2Espacios{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    grid-column: 1 span;
        
                } 
                &--vertical1Espacio{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    grid-row: 1 span;
                } 
                &--vertical2Espacios{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    grid-row: 2 span;
                    
                } 
              }
          
      }

