
.animation{

        &NavBar
        {
            @include animacionesDuracion(animacionHeader, 2s);
        } 
        &Footer
        {
            @include animacionesDuracion(animacionFooter, 2s);
        }
        &VideoCharly
        {
            @include animacionesDuracion(animacionMainVideo, 4s);
        }
        &TwitterFeed
        {
            @include animacionesDuracion(animacionTwitterFeed, 4s);
        } 


}



@keyframes animacionHeader {

    0%{
        height: 0%;
    }

    100%{
        height: 15%;
    }

}

@keyframes animacionFooter {

    0%{
        height: 0%;
    }

    100%{
        height: 10%;
    }

}

@keyframes animacionMainVideo {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }

}

@keyframes animacionTwitterFeed {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }

}


@keyframes aparicionTexto {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }

}