.centerContainerFluid{
    width: 100%;
    display: grid !important;

}


.size100
{
    height: 100% !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    grid-row: 2 span !important;


    @media (max-width: 991px) {

        background-color: black !important;
        height: 100% !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        grid-row: 2 span !important;
        overflow: visible !important; 
        
    }

}

.heightVideos100
{
    height: 100%;
}


.borderRadius10
{
    border-radius: 10px !important;
}


.customRowHeight{

    &75{
        height: 75vh;
    }
    &10{
        height: 10vh;
    }
    &5{
        height: 5vh;
    }

}

.noBottomMargin{
    margin-bottom: 0;
    padding-bottom: 0;
    justify-content: flex-end;
}

.height15navBar{
    height: 15%;
}

.buttonSelectedWhite{
    background-color: gray !important;
}

h1
{

        color: white;
        font-size: larger !important;

        @media (max-width: 991px) {
            color: white;
            font-size: xx-large !important;
        }


}