.masonry-with-columns {

    @include templateMasonry(3, 45vh);

    } 

    .img {

        &--horizontal1Espacio{
            @extend %imageGallerySizing;
            grid-column: 1 span;
            
        } 

        &--horizontal2Espacios{
            @extend %imageGallerySizing;
            grid-column: 2 span;

        } 
        &--horizontal2EspaciosESP{
            @extend %imageGallerySizing;
            grid-column: 2 span;

        } 
        &--vertical1Espacio{
            @extend %imageGallerySizing;
            grid-row: 1 span;
        } 
        &--vertical2Espacios{
            @extend %imageGallerySizing;
            grid-row: 2 span;
            
        } 
        &--vertical2EspaciosESP{
            @extend %imageGallerySizing;
            grid-row: 2 span;
            
        } 
      }