
.stylingNavBarItems
{

    margin-right: 15px !important;
    font-size: 24px;


    &--Home{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 4s;
        animation-timing-function: ease;
        animation-iteration-count: 1;


    }
    &--Biografia{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 5s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }
    &--Fotos{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 6s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }
    &--Videos{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 7s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }
    &--Podcast{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 8s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }
    &--Playlist{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 9s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }
    &--Contacto{
        margin-right: 15px !important;
        font-size: 24px;
        animation-name: aparicionTexto;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        
    }

}