
.stylingNavBarItems
{

    margin-right: 15px !important;
    font-size: 24px;


    &--Home{
        margin-right: 15px !important;
        font-size: 24px;
        @include animacionesDuracion(aparicionTexto, 2s);


    }
    &--Biografia{
        margin-right: 15px !important;
        font-size: 24px;
        @include animacionesDuracion(aparicionTexto, 2.5s);
        
    }
    &--Fotos{
        margin-right: 15px !important;
        font-size: 24px;
        @include animacionesDuracion(aparicionTexto, 3s);
        
    }
    &--Videos{
        margin-right: 15px !important;
        font-size: 24px;
        @include animacionesDuracion(aparicionTexto, 3.5s);
        
    }
    &--Podcast{
        margin-right: 15px !important;
        font-size: 24px;
        @include animacionesDuracion(aparicionTexto, 4s);
        
    }
    &--Playlist{
        margin-right: 15px !important;
        font-size: 24px;
        @include animacionesDuracion(aparicionTexto, 4.5s);
        
    }
    &--Contacto{
        margin-right: 15px !important;
        font-size: 24px;
        @include animacionesDuracion(aparicionTexto, 5s);
        
    }

}