
@media (max-width: 2100px) {

    .masonry-with-columns {
        display: grid;
        background-color: #000000;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 50vh;
        grid-row-gap: 0.25%;
        grid-column-gap: 0.5%;
        padding-left: 1% !important;
        padding-right: 1% !important;
        padding-bottom: 1% !important;
    
        } 
    
        .img {
    
            &--horizontal1Espacio{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 1 span;
                
            } 

            &--horizontal2Espacios{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 2 span;
    
            } 
            &--horizontal2EspaciosESP{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 1 span;
    
            } 
            &--vertical1Espacio{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 1 span;
            } 
            &--vertical2Espacios{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 2 span;
                
            } 
            &--vertical2EspaciosESP{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 1 span;
                
            } 
          }
    

}



@media (max-width: 991px) {



    .stylingNavBarItems
    {
        margin-right: 15px !important;
        font-size: 24px;
        background-color: #000000ec;
    
    }

    .masonry-with-columns {
        display: grid;
        background-color: #000000;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 50vh;
        grid-row-gap: 0.25%;
        grid-column-gap: 0.5%;
        padding-left: 1% !important;
        padding-right: 1% !important;
        padding-bottom: 1% !important;
        overflow: hidden;
    
        } 


        .img {

            &--horizontal1Espacio{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 1 span;
                
            } 
            &--horizontal2Espacios{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 1 span;
    
            } 
            &--vertical1Espacio{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 1 span;
            } 
            &--vertical2Espacios{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 2 span;
                
            } 
          }
      
  }