
@media (max-width: 2100px) {

    .masonry-with-columns {

        @include templateMasonry(2);
    
        } 
    
        .img {
    
            &--horizontal1Espacio{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 1 span;
                
            } 

            &--horizontal2Espacios{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 2 span;
    
            } 
            &--horizontal2EspaciosESP{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 1 span;
    
            } 
            &--vertical1Espacio{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 1 span;
            } 
            &--vertical2Espacios{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 2 span;
                
            } 
            &--vertical2EspaciosESP{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 1 span;
                
            } 
          }
    

}



@media (max-width: 991px) {



    .masonryIndex {

        @include templateMasonry(1);
    
        } 

    .stylingNavBarItems
    {
        margin-right: 15px !important;
        font-size: 24px;
        background-color: #000000ec;
    
    }

    .masonry-with-columns {

        @include templateMasonry(1);
    
        } 


        .img {

            &--horizontal1Espacio{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 1 span;
                
            } 
            &--horizontal2Espacios{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-column: 1 span;
    
            } 
            &--vertical1Espacio{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 1 span;
            } 
            &--vertical2Espacios{
                height: 100%;
                width: 100%;
                object-fit: cover;
                grid-row: 2 span;
                
            } 
          }
      
  }