.carouselVideo
{
    
    height: 90%;
    width: 100%;
    border-radius: 10px;


}

.video
{

    &--Home{

        height: map-get($fullSize, width);
        width: map-get($fullSize, width);
        object-fit: cover;
        grid-row:  2 span;
        grid-column: 2 span;
        border-radius: 10px;

        @media (max-width: 991px) {
                    height: map-get($fullSize, width);
        width: map-get($fullSize, width);
        object-fit: cover;
        grid-row:  1 span;
        grid-column: 1 span;
        border-radius: 10px;
        }

    }
    &--SeccionVideos
    {
        height: 75vh !important;
        width: 75vw !important;

        @media (max-width: 991px) {
            grid-column: 4 span !important;
        }
        border-radius: 10px;
    }

}

.customDfLex
{

display: flex !important;

    @media (max-width: 991px) {
        grid-auto-columns: 1fr 1fr 1fr 1fr;
    }
}

.customFlexColumn{

    flex-direction: column !important;
    
    @media (max-width: 991px) {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
    }

}

.tabContentExtended
{
    display: grid !important;
    justify-content: center !important;
    align-content: center !important;
}