.carouselVideo
{
    
    height: 90%;
    width: 100%;
    border-radius: 10px;


}

.video
{

    &--Home{

        height: 100%;
        width: 100%;
        object-fit: cover;
        grid-row:  1 span;
        grid-column: 1 span;
        border-radius: 10px;

        @media (max-width: 991px) {
            height: 100%;
            width: 100%;
            object-fit: cover;
            grid-row: 2 span;
            grid-column: 2 span;
        }
    }
    &--SeccionVideos
    {
        height: 50vh;
        width: 75vw;
        border-radius: 10px;
    }

}

