.carouselVideo
{
    
    height: 90%;
    width: 100%;
    border-radius: 10px;


}

.video
{

    &--Home{

        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    &--SeccionVideos
    {
        height: 50vh;
        width: 75vw;
        border-radius: 10px;
    }

}

